.row {
  padding-left: 20px;
}
.box {
  margin: 2px 2px 2px 2px;
  background-color: white;
}

.zero {
  border-left: 2px solid black;
}

.one {
  border-right: 2px solid black;
}

.two {
  border-bottom: 2px solid black;
}

.three {
  border-top: 2px solid black;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}